%meta{:charset=>'utf-8'}
%meta{:name=>'viewport', :content=>'width=device-width,minimum-scale=1,initial-scale=1'}
%meta{:name=>'keywords', :content=>'seed fund, venture capital, startup, seed investment'}
%meta{:name=>'description', :content=>description}
%meta{:name=>'published', :content=>published.iso8601}
%link{:rel=>'shortcut icon', :href=>"/images/logo-64x64.png?#{revision}"}
%title= title

- if amp
  %script{:type=>'application/ld+json'}
    :plain
      {
        "@context": "http://schema.org",
        "@type": "Article",
        "mainEntityOfPage":{
          "@type": "WebPage",
          "@id": "#{canonical}.html"
        },
        "headline": "#{title}",
        "image": {
          "@type": "ImageObject",
          "url": "https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xpl1/t31.0-8/12747392_769993733132276_1201542466753191468_o.jpg",
          "height": 866,
          "width": 487
        },
        "datePublished": "#{published.iso8601}",
        "dateModified": "#{published.iso8601}",
        "author": {
          "@type": "Person",
          "name": "Yegor Bugayenko"
        },
        "publisher": {
          "@type": "Organization",
          "name": "SeedRamp LLC",
          "logo": {
            "@type": "ImageObject",
            "url": "http://www.seedramp.com/images/logo-512x512.png",
            "width": 512,
            "height": 512
          }
        },
        "description": "#{description}",
        "keywords": ["seed fund", "venture capital", "startup", "seed investment"]
      }
  %style{'amp-boilerplate'=>''}
    body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
  %noscript
    %style{'amp-boilerplate'=>''}
      body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
  %script{:async=>'async', :src=>'https://cdn.ampproject.org/v0.js'}
  %script{:async=>'async', 'custom-element'=>'amp-analytics', :src=>'https://cdn.ampproject.org/v0/amp-analytics-0.1.js'}
  %script{:async=>'async', 'custom-element'=>'amp-youtube', :src=>'https://cdn.ampproject.org/v0/amp-youtube-0.1.js'}

- if amp
  %link{:rel=>'canonical', :href=>"#{canonical}.html"}
- else
  %link{:rel=>'amphtml', :href=>"#{canonical}.amp.html"}
