%html
  %head
    = input('pages/_head.haml')
    = css('plain.css')
    %title= yaml['title']
    %meta{:name=>'description', :content=>yaml['abstract']}
    %meta{:name=>'author', :content=>yaml['author']}
    %meta{:name=>'published', :content=>day}
  %body
    %article
      = input('pages/_logo.haml')
      %h1= yaml['title']
      %div#content
        = content
        %p
          = yaml['author']
          %br
          SeedRamp LLC
          %br
          = day

