!!! 5
%html{html}
  %head
    - self.description = 'If you are interested in changing the world, we need you'
    - self.title = 'We are hiring'
    = input('pages/_head.haml')
    = css('plain.css')
  %body
    = input('pages/_body.haml')
    %article
      = input('pages/_logo.haml')
      %h1 We are hiring!
      %p
        If you're interested in changing the world,
        we need you. We don't have money to hire you yet,
        but you can volunteer.
      %p
        Shoot us an
        = succeed "," do
          %a{:href=>"mailto:volunteer@seedramp.com"} email
        we'll discuss.
      %p
        Thanks.
