!!! 5
%html{html}
  %head
    = input('pages/_head.haml')
    = css('plain.css')
    %title We are hiring
    %meta{:name=>'description', :content=>'If you are interested in changing the world, we need you'}
  %body
    = input('pages/_body.haml')
    %article
      = input('pages/_logo.haml')
      %h1 We are hiring!
      %p
        If you're interested in changing the world,
        we need you. We don't have money to hire you yet,
        but you can volunteer.
      %p
        Shoot us an
        = succeed "," do
          %a{:href=>"mailto:volunteer@seedramp.com"} email
        we'll discuss.
      %p
        Thanks.
