!!! 5
%html{html}
  %head
    = input('pages/_head.haml')
    = css('index.css')
    %title SeedRamp
    %meta{:name=>'description', :content=>'We make seed investments in high-tech startups after one-hour interviews'}
    - if !amp
      %link{:type=>'text/css', :href=>'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', :rel=>'stylesheet'}
  %body
    = input('pages/_body.haml')
    %article
      = input('pages/_logo.haml')
      %p
        %strong SeedRamp
        is a venture fund.
      %p
        We give you cash to cover the next calendar month
        (up to <strong>$20k</strong>), you give us
        = succeed "." do
          %a{:href=>"/safe.html"} SAFE
      %p
        We make investment decisions in
        = succeed "," do
          %strong 24 hours
        after a one-hour interview (<a href="faq.html">FAQ</a>).
      %p.center
        %a.none{:href=>'/schedule.html', :title=>'Schedule an interview now'}
          %button Schedule

    %div.video
      %div.col
        %div.film
          = youtube('AetgrIGCrSU')
        %span.good $5,000
      %div.col
        %div.film
          = youtube('0X5x-u-1iBE')
        %span.bad $25,000
      %div.col
        %div.film
          = youtube('Zrn2Qdb5Rh4')
        %span.bad $20,000
      %div.col
        %div.film
          = youtube('-gway1us_1E')
        %span.bad $20,000
      %div.col
        %div.film
          = youtube('x-oepkZ94h0')
        %span.bad $15,000
      %div.col
        %div.film
          = youtube('guoibUaVPa4')
        %span.bad $20,000
      %div.col
        %div.film
          = youtube('n8gCO2aHBT0')
        %span.bad $20,000
      %div.col
        %div.film
          = youtube('-mlgZl1KoeI')
        %span.bad $20,000
      %div.col
        %div.film
          = youtube('iW1FyswnINU')
        %span.bad $4,000

    %article
      %p.clear
        See
        %a{:href=>"/history.html"} full log
        of all our interviews.
      %p
        Read
        %a{:href=>"http://www.yegor256.com/2015/12/16/investors-are-too-scared.html"} this
        manifesto.
      %p.red-reverse
        Volunteers
        = succeed "!" do
          %a{:href=>"/hiring.html"} wanted

    %article
      %p
        - if amp
          %a{:href=>"https://www.facebook.com/seedramp/"} Facebook
          %a{:href=>"https://twitter.com/seedramp"} Twitter
          %a{:href=>"https://www.youtube.com/channel/UCcB3-zxKmcsUbBbwvWduZ5A"} YouTube
          %a{:href=>"https://www.linkedin.com/company/seedramp"} LinkedIn
        - else
          %a.ico{:href=>"https://www.facebook.com/seedramp/"}
            %i.fa.fa-facebook &#8203;
          %a.ico{:href=>"https://twitter.com/seedramp"}
            %i.fa.fa-twitter &#8203;
          %a.ico{:href=>"https://www.youtube.com/channel/UCcB3-zxKmcsUbBbwvWduZ5A"}
            %i.fa.fa-youtube &#8203;
          %a.ico{:href=>"https://www.linkedin.com/company/seedramp"}
            %i.fa.fa-linkedin &#8203;
      %p.hint
        We are also trying to keep our profiles
        up to date at
        %a{:href=>"https://angel.co/seedramp"} AngelList
        and
        = succeed "." do
          %a{:href=>"https://www.crunchbase.com/organization/seedramp"} CrunchBase
        If any questions, don't hesitate to
        = succeed "." do
          %a{:href=>"mailto:team@seedramp.com"} email
      %p.hint
        &#169; SeedRamp LLC., 2016
