%html
  %head
    %title SeedRamp
    %link{:type=>'text/css', :href=>'css/index.css', :rel=>'stylesheet'}
    = Haml::Engine.new(File.read('pages/_head.haml')).render
    = Haml::Engine.new(File.read('pages/_ga.haml')).render
  %body
    %article
      = Haml::Engine.new(File.read('pages/_logo.haml')).render
      %p
        %strong SeedRamp
        is a venture fund.
      %p
        We give you cash to cover the next calendar month
        (up to <strong>$20k</strong>), you give us
        = succeed "." do
          %a{:href=>"safe.html"} SAFE
      %p
        We make investment decisions in <strong>24 hours</strong>,
        after a one-hour interview (<a href="faq.html">FAQ</a>).
      %p{:style=>'text-align:center' }
        %a{:href=>'https://calendly.com/yegor256/seedramp', :title=>'Schedule it right now', :style=>'text-decoration:none'}
          %button Schedule
        %br
        %br
        %span{ :style=>'font-size:0.6em;color:gray;' }
          By clicking this button you automatically
          accept terms and conditions of this
          %a{:href=>"consent.html"} Release Consent for Video Interview

    %div.video
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/rXUz5--si1s?controls=2', :allowfullscreen=>'' }
        %span.bad $12,000
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/TbjTdJdR5AQ?controls=2', :allowfullscreen=>'' }
        %span.bad $20,000
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/XdXLyhA8SyM?controls=2', :allowfullscreen=>'' }
        %span.bad $20,000
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/EQ4IpbEGSZo?controls=2', :allowfullscreen=>'' }
      / %div.col
      /   %div.film
      /     %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/LYKGu37J8dg?controls=2', :allowfullscreen=>'' }
      /   %span.bad $20,000
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/ouYq6Ci3Ugk?controls=2', :allowfullscreen=>'' }
        %span.bad $15,000
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/20stkcHz4cg?controls=2', :allowfullscreen=>'' }
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/lhzRDNSic0A?controls=2', :allowfullscreen=>'' }
        %span.bad $11,235
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/TkRj6Iadk_w?controls=2', :allowfullscreen=>'' }
        %span.bad $20,000
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/AetgrIGCrSU?controls=2', :allowfullscreen=>'' }
        %span.good $5,000

      %p{:style=>"clear:both"}
        More coming soon...
      %p
        %a{:href=>"history.html"}
          Full history of all interviews

    %article
      %p
        Read
        = succeed "." do
          %a{:href=>"http://www.yegor256.com/2015/12/16/investors-are-too-scared.html"} this
      %p
        For updates, follow us on
        = succeed "," do
          %a{:href=>"https://www.youtube.com/channel/UCcB3-zxKmcsUbBbwvWduZ5A"} YouTube
        = succeed "," do
          %a{:href=>"https://twitter.com/seedramp"} Twitter
        %a{:href=>"https://www.facebook.com/pages/SeedRamp/673517622779888"} Facebook
        and
        = succeed "." do
          %a{:href=>"https://www.linkedin.com/company/seedramp"} LinkedIn
        If any questions,
        = succeed "." do
          %a{:href=>"mailto:team@seedramp.com"} email
