%html
  %head
    %title SeedRamp
    %link{:type=>'text/css', :href=>'/css/index.css?REVISION', :rel=>'stylesheet'}
    %link{:type=>'text/css', :href=>'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', :rel=>'stylesheet'}
    %meta{:name=>'description', :content=>'We make seed investments in high-tech startups after one-hour interviews'}
    = Haml::Engine.new(File.read('pages/_head.haml'), :format=>:xhtml).render
  %body
    %article
      = Haml::Engine.new(File.read('pages/_logo.haml'), :format=>:xhtml).render
      %p
        %strong SeedRamp
        is a venture fund.
      %p
        We give you cash to cover the next calendar month
        (up to <strong>$20k</strong>), you give us
        = succeed "." do
          %a{:href=>"/safe.html"} SAFE
      %p
        We make investment decisions in
        = succeed "," do
          %strong 24 hours
        after a one-hour interview (<a href="faq.html">FAQ</a>).
      %p{:style=>'text-align:center' }
        %a{:href=>'/schedule.html', :title=>'Schedule an interview now', :style=>'text-decoration:none'}
          %button Schedule

    %div.video
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/XdXLyhA8SyM?controls=2', :allowfullscreen=>'yes' } &#8203;
        %span.bad $20,000
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/ouYq6Ci3Ugk?controls=2', :allowfullscreen=>'yes' } &#8203;
        %span.bad $15,000
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/TkRj6Iadk_w?controls=2', :allowfullscreen=>'yes' } &#8203;
        %span.bad $20,000
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/AetgrIGCrSU?controls=2', :allowfullscreen=>'yes' } &#8203;
        %span.good $5,000
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/0X5x-u-1iBE?controls=2', :allowfullscreen=>'yes' } &#8203;
        %span.bad $25,000
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/Zrn2Qdb5Rh4?controls=2', :allowfullscreen=>'yes' } &#8203;
        %span.bad $20,000
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/-gway1us_1E?controls=2', :allowfullscreen=>'yes' } &#8203;
        %span.bad $20,000
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/x-oepkZ94h0?controls=2', :allowfullscreen=>'yes' } &#8203;
        %span.bad $15,000
      %div.col
        %div.film
          %iframe{ :class=>'video', :src=>'https://www.youtube.com/embed/guoibUaVPa4?controls=2', :allowfullscreen=>'yes' } &#8203;
        %span.bad $20,000

    %article
      %p{:style=>"clear:both"}
        See
        %a{:href=>"/history.html"} full log
        of all our interviews.
      %p
        Read
        %a{:href=>"http://www.yegor256.com/2015/12/16/investors-are-too-scared.html"} this
        manifesto.
      %p.red-reverse
        Volunteers
        = succeed "!" do
          %a{:href=>"/hiring.html"} wanted

    %article
      %p
        %a.ico{:href=>"https://www.facebook.com/seedramp/"}
          %i.fa.fa-facebook &#8203;
        %a.ico{:href=>"https://twitter.com/seedramp"}
          %i.fa.fa-twitter &#8203;
        %a.ico{:href=>"https://www.youtube.com/channel/UCcB3-zxKmcsUbBbwvWduZ5A"}
          %i.fa.fa-youtube &#8203;
        %a.ico{:href=>"https://www.linkedin.com/company/seedramp"}
          %i.fa.fa-linkedin &#8203;
      %p.hint
        We are also trying to keep our profiles
        up to date at
        %a{:href=>"https://angel.co/seedramp"} AngelList
        and
        = succeed "." do
          %a{:href=>"https://www.crunchbase.com/organization/seedramp"} CrunchBase
        If any questions, don't hesitate to
        = succeed "." do
          %a{:href=>"mailto:team@seedramp.com"} email
      %p.hint
        &copy; SeedRamp LLC., 2016
