-# SPDX-FileCopyrightText: Copyright (c) 2016-2026 SeedRamp
-# SPDX-License-Identifier: MIT

!!! 5
%html{html}
  %head
    - self.description = 'Your request for an interview is received and will be processed soon!'
    - self.title = 'Thanks!'
    = input('pages/_head.haml')
    = css('plain.css')
  %body
    = input('pages/_body.haml')
    %article
      = input('pages/_logo.haml')
      %h1 Thanks!
      %p
        We received your request for an interview and will reply
        within 24 hours, to discuss where and how it will happen.
        Thanks!
    = input('pages/_tail.haml')
